# 实训

## 目录

- [实训1　读取并查看P2P网络带宽数据主表的基本信息](#%E5%AE%9E%E8%AE%AD1%E3%80%80%E8%AF%BB%E5%8F%96%E5%B9%B6%E6%9F%A5%E7%9C%8BP2P%E7%BD%91%E7%BB%9C%E8%B4%B7%E6%AC%BE%E6%95%B0%E6%8D%AE%E4%B8%BB%E8%A1%A8%E7%9A%84%E5%9F%BA%E6%9C%AC%E4%BF%A1%E6%81%AF)
- [实训2　提取用户信息更新表和登录信息表的时间信息](#%E5%AE%9E%E8%AE%AD2%E3%80%80%E6%8F%90%E5%8F%96%E7%94%A8%E6%88%B7%E4%BF%A1%E6%81%AF%E6%9B%B4%E6%96%B0%E8%A1%A8%E5%92%8C%E7%99%BB%E5%BD%95%E4%BF%A1%E6%81%AF%E8%A1%A8%E7%9A%84%E6%97%B6%E9%97%B4%E4%BF%A1%E6%81%AF)
- [实训3　使用分组聚合方法进一步分析用户信息更新表和登录信息表](#%E5%AE%9E%E8%AE%AD3%E3%80%80%E4%BD%BF%E7%94%A8%E5%88%86%E7%BB%84%E8%81%9A%E5%90%88%E6%96%B9%E6%B3%95%E8%BF%9B%E4%B8%80%E6%AD%A5%E5%88%86%E6%9E%90%E7%94%A8%E6%88%B7%E4%BF%A1%E6%81%AF%E6%9B%B4%E6%96%B0%E8%A1%A8%E5%92%8C%E7%99%BB%E5%BD%95%E4%BF%A1%E6%81%AF%E8%A1%A8)
- [实训4　对用户信息更新表和登录信息更新表进行长宽表转换](#%E5%AE%9E%E8%AE%AD4%E3%80%80%E5%AF%B9%E7%94%A8%E6%88%B7%E4%BF%A1%E6%81%AF%E6%9B%B4%E6%96%B0%E8%A1%A8%E5%92%8C%E7%99%BB%E5%BD%95%E4%BF%A1%E6%81%AF%E6%9B%B4%E6%96%B0%E8%A1%A8%E8%BF%9B%E8%A1%8C%E9%95%BF%E5%AE%BD%E8%A1%A8%E8%BD%AC%E6%8D%A2)

## 实训1　读取并查看P2P网络贷款数据主表的基本信息

1. 训练要点
    1. 掌握`CSV`数据读取方法。
    2. 掌握`DataFrame`的常用属性与方法。
    3. 掌握`pandas`描述性统计方法。


2. 需求说明
    
    &emsp;&emsp;P2P网络贷款主表数据主要存放了网贷用户的基本信息。探索数据的基本信息，能够洞察数据的整体分布、数据的类属关系，从而发现数据间的关联。


3. 实现思路及步骤
    1. 使用`ndim`、`shape`、`memory_usage`属性分别查看维度、大小、占用内存信息。
    2. 使用`describe`方法进行描述性统计，并剔除值相同或全为空的列。

In [1]:
import numpy
import pandas
table = pandas.read_csv('data/Training_Master.csv', sep=',', encoding='gbk')
print('主表的维度为：', table.ndim, '\n')
print('主表的大小为：', table.shape, '\n')
print('主表占用的内存空间为：', table.memory_usage(), sep='\n')

主表的维度为： 2

主表的大小为： (30000, 228)

主表占用的内存空间为：
Index                  128
Idx                 240000
UserInfo_1          240000
UserInfo_2          240000
UserInfo_3          240000
                     ...
SocialNetwork_15    240000
SocialNetwork_16    240000
SocialNetwork_17    240000
target              240000
ListingInfo         240000
Length: 229, dtype: int64

In [2]:
print('主表的统计性描述为：')
table.describe()

主表的统计性描述为：

,Idx,UserInfo_1,UserInfo_3,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,WeblogInfo_6,WeblogInfo_7,...,SocialNetwork_9,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target
count,30000.000000,29994.000000,29993.000000,970.000000,28342.000000,970.000000,28349.000000,28349.000000,28349.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,46318.673267,3.219911,4.694329,2.201031,0.131466,1.308247,3.025962,1.816960,2.948711,10.632800,...,35.516167,75.211233,-0.999267,-0.745033,0.221167,0.062033,0.027967,0.016633,0.253467,0.073267
std,26640.397805,1.827684,1.321458,7.831679,0.358486,7.866457,3.772421,1.701177,3.770300,16.097588,...,135.954587,742.978305,0.052911,0.441473,0.420545,0.242598,0.164880,0.127895,0.437296,0.260578
min,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22924.250000,1.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,46849.500000,3.000000,5.000000,1.000000,0.000000,0.000000,2.000000,1.000000,2.000000,6.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,69447.250000,5.000000,5.000000,1.000000,0.000000,1.000000,3.000000,2.000000,3.000000,13.000000,...,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,91703.000000,7.000000,7.000000,133.000000,4.000000,133.000000,165.000000,73.000000,165.000000,722.000000,...,3242.000000,71253.000000,6.000000,1.000000,2.000000,3.000000,1.000000,1.000000,3.000000,1.000000

In [3]:
def drop_None_Columns(frame: pandas.DataFrame):
    before_clean = frame.shape[1]
    # 如果一列的数据全为空（NaN），则其计数为0
    column_is_None = (frame.describe().loc['count'] == 0)
    for column in range(len(column_is_None)):
        if column_is_None[column]:
            frame.drop(column_is_None.index[column], axis=1, inplace=True)
    # 如果一列的数据完全相同，则其标准差为0
    all_same_columns = (frame.describe().loc['std'] == 0)
    for column in range(len(all_same_columns)):
        if all_same_columns[column]:
            frame.drop(all_same_columns.index[column], axis=1, inplace=True)
    after_clean = frame.shape[1]
    print('源数据有', before_clean, '列')
    print('已清理', (before_clean - after_clean), '列')
    print('剩余', after_clean, '列有效')
drop_None_Columns(table)

源数据有 228 列
已清理 2 列
剩余 226 列有效

## 实训2　提取用户信息更新表和登录信息表的时间信息

1. 训练要点
    1. 掌握时间字符串和标准时间的转换方法。
    2. 掌握时间信息提取的方法。
    3. 掌握时间数据的算术运算。


2. 需求说明

    &emsp;&emsp;用户信息更新表和登录信息表中均存在大量的时间数据，提取时间数据内存在的信息，一方面可以加深对数据的理解，另一方面能够探索这部分信息和目标的关联程度。同时用户登陆时间、借款成交时间、用户信息更新时间这些时间的时间差页能够反映出P2P网络贷款不同用户的行为信息。


3. 实现思路及步骤
    1. 使用`to_datetime`函数转换童虎信息更新表和登录信息表的时间字符串。
    2. 使用`year`、`month`、`week`等方法提取用户信息更新表和登录信息表中的时间信息。
    3. 计算用户信息更新表和登录信息表中两时间的差，分别以日、小时、

In [4]:
# 处理用户信息更新表
update_table = pandas.read_csv('data/Training_Userupdate.csv', sep=',', encoding='gbk')
update_table['ListingInfo1'] = pandas.to_datetime(update_table['ListingInfo1'])
update_table['UserupdateInfo2'] = pandas.to_datetime(update_table['UserupdateInfo2'])
print('转换后的用户信息更新表前5行数据为：', update_table.head(), '', sep='\n')
# 处理登录信息表
login_table = pandas.read_csv('data/Training_LogInfo.csv', sep=',', encoding='gbk')
login_table['Listinginfo1'] = pandas.to_datetime(login_table['Listinginfo1'])
login_table['LogInfo3'] = pandas.to_datetime(login_table['LogInfo3'])
print('转换后的登录信息表前5行数据为：', login_table.head(), sep='\n')

转换后的用户信息更新表前5行数据为：
     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014-03-05       _EducationId      2014-02-20
1  10001   2014-03-05         _HasBuyCar      2014-02-20
2  10001   2014-03-05    _LastUpdateDate      2014-02-20
3  10001   2014-03-05  _MarriageStatusId      2014-02-20
4  10001   2014-03-05       _MobilePhone      2014-02-20

转换后的登录信息表前5行数据为：
     Idx Listinginfo1  LogInfo1  LogInfo2   LogInfo3
0  10001   2014-03-05       107         6 2014-02-20
1  10001   2014-03-05       107         6 2014-02-23
2  10001   2014-03-05       107         6 2014-02-24
3  10001   2014-03-05       107         6 2014-02-25
4  10001   2014-03-05       107         6 2014-02-27

In [5]:

update_time = pandas.DataFrame({
    'Listing_year': [row.year for row in update_table['ListingInfo1']],
    'Listing_month': [row.month for row in update_table['ListingInfo1']],
    'Listing_day': [row.day for row in update_table['ListingInfo1']],
    'Listing_week': [row.week for row in update_table['ListingInfo1']],
    'Listing_dayname': [row.day_name() for row in update_table['ListingInfo1']],
    'Update_year': [row.year for row in update_table['UserupdateInfo2']],
    'Update_month': [row.month for row in update_table['UserupdateInfo2']],
    'Update_day': [row.day for row in update_table['UserupdateInfo2']],
    'Update_week': [row.week for row in update_table['UserupdateInfo2']],
    'Update_dayname': [row.day_name() for row in update_table['UserupdateInfo2']]
})
print('用户信息更新表时间信息前5行为：')
update_time.head()

用户信息更新表时间信息前5行为：

,Listing_year,Listing_month,Listing_day,Listing_week,Listing_dayname,Update_year,Update_month,Update_day,Update_week,Update_dayname
0,2014,3,5,10,Wednesday,2014,2,20,8,Thursday
1,2014,3,5,10,Wednesday,2014,2,20,8,Thursday
2,2014,3,5,10,Wednesday,2014,2,20,8,Thursday
3,2014,3,5,10,Wednesday,2014,2,20,8,Thursday
4,2014,3,5,10,Wednesday,2014,2,20,8,Thursday

In [6]:
login_time = pandas.DataFrame({
    'Listing_year': [row.year for row in login_table['Listinginfo1']],
    'Listing_month': [row.month for row in login_table['Listinginfo1']],
    'Listing_day': [row.day for row in login_table['Listinginfo1']],
    'Listing_week': [row.week for row in login_table['Listinginfo1']],
    'Listing_dayname': [row.day_name() for row in login_table['Listinginfo1']],
    'Login_year': [row.year for row in login_table['LogInfo3']],
    'Login_month': [row.month for row in login_table['LogInfo3']],
    'Login_day': [row.day for row in login_table['LogInfo3']],
    'Login_week': [row.week for row in login_table['LogInfo3']],
    'Login_dayname': [row.day_name() for row in login_table['LogInfo3']]
})
print('登录信息表时间信息前5行为：')
login_time.head()

登录信息表时间信息前5行为：

,Listing_year,Listing_month,Listing_day,Listing_week,Listing_dayname,Login_year,Login_month,Login_day,Login_week,Login_dayname
0,2014,3,5,10,Wednesday,2014,2,20,8,Thursday
1,2014,3,5,10,Wednesday,2014,2,23,8,Sunday
2,2014,3,5,10,Wednesday,2014,2,24,9,Monday
3,2014,3,5,10,Wednesday,2014,2,25,9,Tuesday
4,2014,3,5,10,Wednesday,2014,2,27,9,Thursday

In [7]:
update_diff = update_table['ListingInfo1'] - update_table['UserupdateInfo2']
print('用户信息更新表两时间差前5行为：', update_diff.head(), sep='\n')
login_diff = login_table['Listinginfo1'] - login_table['LogInfo3']
print('登录信息表两时间差前5行为：', login_diff.head(), sep='\n')

用户信息更新表两时间差前5行为：
0   13 days
1   13 days
2   13 days
3   13 days
4   13 days
dtype: timedelta64[ns]
登录信息表两时间差前5行为：
0   13 days
1   10 days
2    9 days
3    8 days
4    6 days
dtype: timedelta64[ns]

## 实训3　使用分组聚合方法进一步分析用户信息更新表和登录信息表

1. 训练要点
    1. 掌握分组聚合的原理与步骤。
    2. 掌握`agg`、`apply`聚合方法。
    3. 掌握`transform`聚合方法。


2. 需求说明

    &emsp;&emsp;分析用户信息更新表和登录信息表时，除了提取时间本身的信息外，还可以结合用户编号进行分组聚合，然后进行组内分析。通过组内分析可以得出每组组内的最早和最晚信息更新时间、最早和最晚登录时间、信息更新的次数、登录的次数等信息。


3. 实现思路及步骤
    1. 使用`groupby`方法对用户信息更新表和登录信息表进行分组。
    2. 使用`agg`方法求取分组后的最早和最晚更新及登录时间。
    3. 使用`size`方法求取分组后的数据的信息更新次数与登录次数。

In [8]:
update_group = update_table[['Idx', 'UserupdateInfo2']].groupby(by='Idx')
login_group = login_table[['Idx', 'LogInfo3']].groupby(by='Idx')

In [9]:
print(
    '用户信息更新表按用户编号分组后，每组最早和最晚更新时间为：',
    update_group['UserupdateInfo2'].agg([numpy.min, numpy.max]),
    '', sep='\n'
)
print(
    '登录信息表按用户编号分组后，每组最早和最晚登录时间为：',
    login_group['LogInfo3'].agg([numpy.min, numpy.max]),
    sep='\n'
)

用户信息更新表按用户编号分组后，每组最早和最晚更新时间为：
            amin       amax
Idx
3     2013-08-30 2013-08-30
5     2013-10-24 2013-10-24
8     2013-10-25 2013-11-04
12    2012-12-08 2013-10-02
16    2013-10-27 2013-11-05
...          ...        ...
91689 2014-10-26 2014-10-26
91693 2014-10-26 2014-10-28
91695 2014-09-26 2014-10-26
91702 2014-10-26 2014-10-26
91703 2014-10-26 2014-11-02

[29995 rows x 2 columns]

登录信息表按用户编号分组后，每组最早和最晚登录时间为：
            amin       amax
Idx
3     2013-08-30 2013-11-01
5     2013-10-24 2013-11-06
8     2013-10-25 2013-11-06
12    2012-12-08 2013-11-01
16    2013-10-27 2013-11-04
...          ...        ...
91689 2014-10-26 2014-10-29
91693 2014-10-26 2014-11-05
91695 2014-09-26 2014-10-30
91702 2014-10-26 2014-10-28
91703 2014-10-26 2014-11-03

[28987 rows x 2 columns]

In [15]:
print(
    '用户信息更新表按用户编号分组后，每组的信息更新次数前5行为：',
    update_group.count().head(),
    '', sep='\n'
)
print(
    '登录信息表按用户编号分组后，每组的登录次数前5行为：',
    login_group.count().head(),
    sep='\n'
)

用户信息更新表按用户编号分组后，每组的信息更新次数前5行为：
     UserupdateInfo2
Idx
3                 13
5                 13
8                 14
12                14
16                13

登录信息表按用户编号分组后，每组的登录次数前5行为：
     LogInfo3
Idx
3          26
5          11
8         125
12        199
16         15

## 实训4　对用户信息更新表和登录信息更新表进行长宽表转换

1. 训练要点
    1. 掌握透视表的制作方法。
    2. 掌握交叉表的制作方法。


2. 需求说明

    &emsp;&emsp;通过对数据的统计性描述，以及时间数据信息提取、分组聚合操作已经获得了相当多的信息，但用户信息更新表和登录信息表是长表，而主表是宽表，需要通过长宽表转换将数据合并在一张以用户编号为主键的表内。


3. 实现思路及步骤
    1. 使用`pivot_table`函数进行长宽表转换。
    2. 使用`crosstab`方法进行长宽表转换。